@import "tailwindcss";

@source "../../../packages/ui/src/**/*.{ts,tsx}";

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: url('../../../packages/ui/src/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-pretendard: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

body {
  font-family: var(--font-pretendard);
}

.force-hover .btn { @apply opacity-80; } 
.force-pressed .btn { @apply opacity-80; } 